<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <form action="./login" method="post">
      <div class="login-container">
        <input type="text" name="username" class="username" placeholder="Username" />
        <input type="password" name="password" class="password" placeholder="Password" />
        <button type="submit" class="login-button">Submit</button>
        <label>
          <a href="/signup"> Do not have an Account? Sign Up.</a></label>
      </div>
    </form>
    <script src="server.js"></script>
  </body>
</html>
